.form-container {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
}

.form-row > div {
    min-width: 200px;
    margin: 0px 10px;  
}
.form-row button {
    margin: 10px;
    width: 150px;
}

.list-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: #757575
}

.list-card-footer-actions {
    display: flex;
    width: 50px;
    justify-content: space-around;
}